* {
    padding: 0;
    margin: 0;
}
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  

  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
  
body {
    background-color: rgb(30, 10, 96);
    color: rgb(220, 224, 246);
    font-family: 'Poppins', sans-serif;
    font-size: larger;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    background-color: #121726;

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    text-decoration: none;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

nav ul li a:hover {
    color:  rgb(239, 158, 53);
    font-size: 1.04rem;

}

main hr {
    border: 0;
    background-color: rgb(209, 63, 34);
    height: 1.5px;
    margin: 60px 84px;


}

.left {
    font-size: 1.5rem;

}

.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 140px 0;
    align-items: center;
}

.firstsection>div {
    width: 30%;
}


.leftsection {
    width: 50%;
    margin: 30px 0;
    font-size: 3rem;
}
.leftsection .btn{
    padding: 12px;
    border: 2px solid white;
    border-radius: 10%;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(15, 14, 15);
    color: rgb(239, 158, 53);
}
.leftsection .btn:hover{
    background-color: rgb(55, 62, 62);
    font-size: 25px;
    
}
 a {
    text-decoration: none;
    color:  rgb(239, 158, 53);
    text-align: 1.6rem;
}


.rightsection {
    width: 50%;

}

.rightsection img {
    width: 80%;
}

.purple {
    color: rgb(108, 55, 156);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}

.textgray {
    color: rgb(132, 132, 236);
    ;
}

.secondsection h1 {
    font-size: 2.4rem;
}

.secondsection .box1{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 50px 0;
    display: flex;
    

}

.secondsection .box2{
    background-color: white;
    width: 80vw;
    height: 2px;
    margin: 50px 0;
    display: flex;

}
.secondsection .vertical1 {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}

.secondsection .vertical2 {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}
.secondsection .vertical3 {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}
.secondsection .vertical4 {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}
.secondsection .vertical5 {
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 auto;
}
.img-top {
    position: relative;
    top: -30px;
    left: -9px;
    width: 30px;

}

.vertical-title {
    position: relative;
    top: 2px;
    
}

.vertical-desc {
    position: relative;
    top: 30px;
    width: 250px;
    color: rgb(90, 11, 11);
    font: 9px;
}

#element {
    color: rgb(108, 55, 156);
}

footer {
    background-color: rgb(23, 22, 23);
    /* height: 233px; */
    padding: 5px;
}

.footer {
    display: flex;
    margin: 20px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 220px;
}

.footer-rights {
    text-align: center;
}
html{
    font-size: 70%;
}